In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
sns.set()
import statsmodels.api as sm
import statsmodels.formula.api as smf
import matplotlib.pyplot as plt
pd.options.mode.chained_assignment = None

In [5]:
train = pd.read_csv("data/raw/non_rand_discount.csv")
test = pd.read_csv("data/raw/random_data.csv")

,spend_1m_baby,spend_2m_baby,spend_3m_baby,spend_4m_baby,spend_5m_baby,spend_6m_baby,spend_1m_clothes,spend_2m_clothes,spend_3m_clothes,spend_4m_clothes,...,spend_4m_eletronic,spend_5m_eletronic,spend_6m_eletronic,sales,discount,age,gender,cust_state,tenure,profit
0,0,0,0,0,0,0.0,25,50.0,0.0,0.0,...,0.0,0.0,0.0,1503.22,20.0,35,1.0,MA,23,55.16
1,0,0,0,0,0,0.0,0,0.0,0.0,0.0,...,0.0,0.0,0.0,1798.30,60.0,29,1.0,MG,18,29.92
2,0,0,0,0,0,0.0,0,0.0,0.0,0.0,...,0.0,0.0,0.0,1122.97,0.0,30,1.0,RJ,20,56.15
3,10,15,0,25,10,0.0,0,0.0,0.0,0.0,...,0.0,0.0,0.0,1217.08,10.0,32,0.0,BA,20,50.85
4,0,0,0,0,0,0.0,0,0.0,0.0,0.0,...,0.0,0.0,0.0,966.58,0.0,30,0.0,PB,22,48.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,0,0,0,0,0,0.0,0,0.0,0.0,0.0,...,0.0,0.0,0.0,1607.74,10.0,31,0.0,RS,19,70.39
4996,0,0,0,0,0,0.0,0,0.0,0.0,0.0,...,0.0,0.0,0.0,1201.35,30.0,23,1.0,RJ,18,30.07
4997,0,0,0,0,0,0.0,0,0.0,0.0,0.0,...,0.0,0.0,0.0,1196.42,10.0,31,0.0,SP,24,49.82
4998,0,0,0,0,0,0.0,0,0.0,0.0,0.0,...,0.0,0.0,0.0,6769.79,240.0,28,0.0,SP,25,98.49
4999,0,0,0,0,0,0.0,0,0.0,0.0,0.0,...,0.0,0.0,0.0,996.86,10.0,25,0.0,PB,23,39.84

In [9]:
train.dropna()

      spend_1m_baby;spend_2m_baby;spend_3m_baby;spend_4m_baby;spend_5m_baby;spend_6m_baby;spend_1m_clothes;spend_2m_clothes;spend_3m_clothes;spend_4m_clothes;spend_5m_clothes;spend_6m_clothes;spend_1m_health;spend_2m_health;spend_3m_health;spend_4m_health;spend_5m_health;spend_6m_health;spend_1m_pet;spend_2m_pet;spend_3m_pet;spend_4m_pet;spend_5m_pet;spend_6m_pet;spend_1m_groceries;spend_2m_groceries;spend_3m_groceries;spend_4m_groceries;spend_5m_groceries;spend_6m_groceries;spend_1m_eletronic;spend_2m_eletronic;spend_3m_eletronic;spend_4m_eletronic;spend_5m_eletronic;spend_6m_eletronic;sales;discount;profit;age;gender;cust_state;tenure;sales_prediction_bins;sales_prediction
0      0;0;0;0;0;0.0;0;0.0;0.0;0.0;0.0;0.0;0;0;0;0;0;...
1      0;0;0;0;0;0.0;0;0.0;0.0;0.0;0.0;0.0;0;0;0;0;0;...
2      0;0;0;0;0;0.0;0;0.0;0.0;0.0;0.0;0.0;0;0;0;0;0;...
3      0;0;0;0;0;0.0;0;0.0;0.0;0.0;0.0;0.0;0;0;0;0;0;...
4      0;0;0;0;0;0.0;0;0.0;0.0;0.0;0.0;0.0;0;0;0;0;0;...
...                                                  ...
14995  0;0;0;0;0;0.0;50;50.0;430.0;25.0;150.0;0.0;0;0...
14996  0;0;0;0;0;0.0;0;0.0;0.0;0.0;0.0;0.0;0;0;0;0;0;...
14997  0;0;0;0;0;0.0;0;0.0;0.0;0.0;0.0;0.0;0;0;0;0;0;...
14998  0;0;0;0;0;0.0;25;0.0;0.0;0.0;0.0;0.0;0;0;0;0;0...
14999  0;0;0;0;0;0.0;0;0.0;0.0;0.0;0.0;0.0;0;0;0;0;0;...

[15000 rows x 1 columns]

In [8]:
test.dropna()

,spend_1m_baby,spend_2m_baby,spend_3m_baby,spend_4m_baby,spend_5m_baby,spend_6m_baby,spend_1m_clothes,spend_2m_clothes,spend_3m_clothes,spend_4m_clothes,...,spend_4m_eletronic,spend_5m_eletronic,spend_6m_eletronic,sales,discount,age,gender,cust_state,tenure,profit
0,0,0,0,0,0,0.0,25,50.0,0.0,0.0,...,0.0,0.0,0.0,1503.22,20.0,35,1.0,MA,23,55.16
1,0,0,0,0,0,0.0,0,0.0,0.0,0.0,...,0.0,0.0,0.0,1798.30,60.0,29,1.0,MG,18,29.92
2,0,0,0,0,0,0.0,0,0.0,0.0,0.0,...,0.0,0.0,0.0,1122.97,0.0,30,1.0,RJ,20,56.15
3,10,15,0,25,10,0.0,0,0.0,0.0,0.0,...,0.0,0.0,0.0,1217.08,10.0,32,0.0,BA,20,50.85
4,0,0,0,0,0,0.0,0,0.0,0.0,0.0,...,0.0,0.0,0.0,966.58,0.0,30,0.0,PB,22,48.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,0,0,0,0,0,0.0,0,0.0,0.0,0.0,...,0.0,0.0,0.0,1607.74,10.0,31,0.0,RS,19,70.39
4996,0,0,0,0,0,0.0,0,0.0,0.0,0.0,...,0.0,0.0,0.0,1201.35,30.0,23,1.0,RJ,18,30.07
4997,0,0,0,0,0,0.0,0,0.0,0.0,0.0,...,0.0,0.0,0.0,1196.42,10.0,31,0.0,SP,24,49.82
4998,0,0,0,0,0,0.0,0,0.0,0.0,0.0,...,0.0,0.0,0.0,6769.79,240.0,28,0.0,SP,25,98.49
4999,0,0,0,0,0,0.0,0,0.0,0.0,0.0,...,0.0,0.0,0.0,996.86,10.0,25,0.0,PB,23,39.84